:root {
    --white-100: #ffffff;
    --white-200: #f2f2f2;
    --white-300: #e6e6e6;
    --white-400: #d9d9d9;
    --white-500: #cccccc;
    --black-100: #0a0a0a;
    --black-200: #1a1a1a;
    --black-300: #333333;
    --black-400: #4d4d4d;
    --black-500: #666666;
    --red-100: #ffe5eb;
    --red-200: #ffb3c2;
    --red-300: #ff8099;
    --red-400: #ff4d70;
    --red-500: #e40037;
    --gray-100: #f5f5f5;
    --gray-200: #d9d9d9;
    --gray-300: #bfbfbf;
    --gray-400: #a6a6a6;
    --gray-500: #8c8c8c;
    --shadow-white: 0 4px 6px rgba(255, 255, 255, 0.3);
    --shadow-red: 0 4px 6px rgba(228, 0, 55, 0.4);
    --shadow-gray: 0 4px 6px rgba(0, 0, 0, 0.25);
}

.Contact-header {
    padding-top: 10rem;
    padding-bottom: 2rem;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .head {
        p {
            color: var(--red-500);
            font-size: 1.8rem;
            font-weight: 700;
            text-align: center;

            span {
                color: var(--white-100);
            }
        
        }
    }
}