.c-button {
    color: #000000;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    padding: 0.9em 1.6em;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    background: transparent;
    overflow: hidden;


    &.c-button--gooey {
        color: var(--red-500);
        text-transform: uppercase;
        letter-spacing: 2px;
        border: 4px solid var(--red-500);
        position: relative;
        transition: all 700ms ease;
        background: transparent;
        border-radius: 40px;

        &:hover {
            color: #fff;
        }

        .c-button__blobs {
            position: absolute;
            top: 0;
            left: 0;
            bottom: -3px;
            right: -1px;
            height: 100%;
            filter: url(#goo);
            overflow: hidden;
            z-index: -1;

            div {
                background-color: var(--red-500);
                width: 34%;
                height: 100%;
                border-radius: 100%;
                position: absolute;
                transform: scale(1.4) translateY(125%) translateZ(0);
                transition: all 700ms ease;

                &:nth-child(1) {
                    left: -5%;
                }

                &:nth-child(2) {
                    left: 30%;
                    transition-delay: 60ms;
                }

                &:nth-child(3) {
                    left: 66%;
                    transition-delay: 25ms;
                }
            }
        }

        &:hover .c-button__blobs div {
            transform: scale(1.4) translateY(0) translateZ(0);
        }
    }
}