:root {
    --white-100: #ffffff;
    --black-100: #0a0a0a;
    --red-500: #e40037;
    --shadow-red: 0 4px 6px rgba(228, 0, 55, 0.4);
}

.third-section {
    padding: 2rem 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 3rem;
    }



    .img-section {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 800px;
        }
    }

    .text-section {
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            font-size: 1.2rem;
            line-height: 1.6rem;
            letter-spacing: 5px;

            span {
                color: var(--red-500);
                text-shadow: var(--shadow-red);
                font-weight: 800;
            }
        }
    }
}


